robotframework
robotframework-seleniumlibrary
robotframework-jsonlibrary
# robotframework-requests
PyYAML
robotframework-tidy
robotframework-robocop
robotframework-debuglibrary
robotframework-fakerlibrary
setuptools